.ListItems {
    margin: 1rem;
    height: 91vh;
    /* box-shadow: 0 0 20px rgb(0, 0, 0); */
    border-radius: 0 2rem 0 0;
    overflow: hidden;
}

.top {
    height: 15%;
    /* background-color: #003272; */
    background-image: linear-gradient(to right, rgb(0, 21, 90), rgba(57, 242, 202, 0.695));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(57, 242, 202, 0.695);
    border-radius: 0 0 0 2rem;
}

.top h1 {
    font-size: 2rem;
    color: aliceblue;
    text-shadow: 0 0 5px black;
}

.inputs {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: aliceblue;
    text-shadow: 0 0 5px black;
}

.inputs form {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    text-align: center;
}

.inputs form label {
    /* color: white; */
    margin: 0.5rem;
    font-size: 1.5rem;

}

.inputs form select {
    color: white;
    width: 10rem;
    height: 2rem;
    border-radius: 3rem;
    font-size: 1rem;
    text-align: center;
    background-color: #00233f76;
}

.buttom {
    margin-top: 1rem;
    height: 84%;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-image: linear-gradient(to right, rgba(0, 21, 90, 0.768), rgba(57, 242, 202, 0.695));
    box-shadow: 0 0 20px rgba(57, 242, 202, 0.695);
    border-radius: 2rem 0 0 0;
}

/* for scroolbar effect */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(1, 79, 86);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 35, 42);
}

@media screen and (max-width:500px) {
    .ListItems {
        margin: 0;
        min-width: 100%;
    }

    .top h1 {
        font-size: 1.4rem;
        background: -webkit-linear-gradient(#fefebe, #00404c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: none;
    }
    .inputs {
        margin-top:0;
        font-family: 'Mooli', sans-serif;
    }
    .inputs form label {
        margin: 0.2rem;
        font-size: 1rem;
    }
    .inputs form select {
        color: white;
        width: 8rem;
        height: 1.5rem;
        border-radius: 3rem;
        font-size: 1rem;
        text-align: center;
        background-color: #00233f76;
    }
    .buttom {
        margin-top: 0.3rem;
    }
}