.mapArea{
    margin: 1rem;
    /* background-color: #f50000; */
    height: 91vh;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius:2rem 0 2rem 0;
    overflow: hidden;
    /* border: 2px solid red; */
}

@media screen and (max-width:500px){
   .mapArea{
    margin: 0;
    width: 100vw;
    height: 25vh;
    box-sizing: border-box;
    border-radius:0;
   } 
}